extends ../layouts/common
block content
  h1 Update book's title
  form(action='/books/:id/update', method='POST')
    input.form-control(type='text', name='title')
    input(type='hidden', name='id' value=id)
    br
    button.btn.btn-primary Update
